body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    background: #ecf0f3;
    --color1: rgb(147,32,32);
    --color2: rgb(199,26,36);
}
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.result-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden; /* Para ocultar el tfoot por defecto */
}
.result-table th, .result-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    transition: background-color 0.3s ease; /* Transición de color de fondo */
}
.result-table th {
    background-color: #f2f2f2;
}
.result-table tbody tr:hover {
    background-color: #f0f0f0; /* Color de fondo al hacer hover en las filas */
}
.result-table tfoot {
    background-color: #f2f2f2;
}
.result-table tfoot td {
    padding: 12px;
    text-align: center;
    font-weight: bold;
}
.result-table tfoot td:first-child {
    text-align: right;
}
.footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
    padding: 10px;
    background-color: #f2f2f2;
    border-top: 1px solid #ddd;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

button {
    font-family: "Ga Maamli", sans-serif;
    font-style: normal;
    background: black;
    border: none;
    padding: 16px 32px;
    color: azure;
    font-size: 45px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    display: inline-block;
    width: 150px;
    height: 150px;
    background: #e5e5e5;
    text-shadow: 2px 2px 3px var(--colo1);
    color: var(--color2);
    border-radius: 20px;
    box-shadow: -10px -10px 15px #fff,
    10px 10px 15px #c1c1c1,
    inset 0px 0px 0px #fff,
    inset 0px 0px 0px #c1c1c1;
    cursor: pointer;
    transition: all 300ms ease;
    margin: 0 50px;

}

button:hover{

    box-shadow: 0px 0px 0px #fff,
        0px 0px 0px #c1c1c1,
        inset -10px 10px 15px #fff,
        inset 10px 10px 15px #c1c1c1;
    color: var(--color1);
    text-shadow: 0px 0px 0px var(--color1);

}

button:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 12px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

.form-control {
    width: 100%; /* Opcional: Ajusta el ancho del input al 100% del contenedor */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f9fa;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #4e73df;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(78, 115, 223, 0.25);
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

tbody{animation:scale-up-vertical-top 1s linear} 
thead{animation:scale-up-vertical-top 1s linear} 
@keyframes scale-up-vertical-top{0%{transform:scaleY(.4);transform-origin:center top}100%{transform:scaleY(1);transform-origin:center top}}
